/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(251, 186, 113, 1) 0%,
    rgba(154, 111, 81, 1) 20%,
    rgba(79, 32, 101, 1) 45%,
    rgba(43, 24, 55, 1) 69%
  );
}
